page-i-mc {

}

.imc-header title{
    color: #000000;
    font-family: Arial, sans-serif;
}

.imc-content {
    background-color: #BDBDBD;
    color: #000000;
}

.show-list-numbers-and-dots {
    text-align: center;
}

.imc-icon {
    color:red;
    font-size: 40px;
}
